.App {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: #f0f2f5;
}

.App__header {
  display: flex;
  align-items: center;
}

.App__logo {
  color: white;
  font-weight: bold;
  letter-spacing: -2px;
  font-size: 2rem;
  margin-right: 2rem;
  flex-shrink: 0;
}

.App__abv-switch {
  margin-bottom: 1rem;
}

.App__abv-switch-label {
  margin-left: 0.5rem;
}

.App__main {
  flex: 1;
  overflow: auto;
  padding: 2rem;
}

.App__spinner {
  margin: auto;
}

.App__footer {
  text-align: center;
}

.ant-table-row {
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  background-color: white;
}

.ant-table-thead {
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
}

.BeersTable__media {
  display: flex;
  align-content: center;
}

.BeersTable__media-image {
  height: 3rem;
  width: 3rem;
  background-color: #f0f2f5;
  background-position: center -0.8rem;
  background-size: 50%;
  border-radius: 1.5rem;
  border: 2px solid #e8e8e8;
  background-repeat: no-repeat;
}

.BeersTable__media-content {
  margin-left: 0.5rem;
}

.BeersTable__media-title {
  font-weight: bold;
  font-size: 16px;
}

.BeersTable__media-subtitle {
  margin-top: 0.1rem;
  color: darkgrey;
}
